%h1 Analytics

%p Select the beginning day of the week.

= form_tag root_path, method: :get, remote: true do
  = date_select :analytics, :date, :order => [:day, :month, :year], default: @begin_date || 1.week.ago
  = submit_tag "Valider"

#products-dashboard= render "analytics/products", products: @products
#items-dashboard= render "analytics/items", items: @items
#customers-orders= render "analytics/customers_orders", customers_orders: @customers_orders
